[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scrapy = "*"
ipykernel = "*"
scikit-learn = "*"
statsmodels = "*"
linearmodels = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
